<div id="navigation">
    <nav class="navbar navbar-custom navbar-static-top" role="navigation">
 
          <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-left">
                                <a href ="/"><img src="../img/nav_logo.png"></a>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                            <%if user_signed_in? %>
                                <li><a href="/">Home</a></li>
                                <li><a href="/system/mypage">My page</a></li>
                                <li><a href="/users/sign_out" data-method="delete">Log out</a></li>
                            <%else%>
                                <li><a href="/">Home</a></li>
                                <li><a href="/users/sign_in">Log in</a></li>				                                                                  
                                <li><a href="/users/sign_up">Sign up</a></li>
                            <%end%>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
      </nav>
</div> 

