<body class="container">
    
    <!--브랜드 로고 삽입하기-->
      <a href = "http://www.hm.com/kr/" target="_blank"> 
        <img src="/hnm.png" alt="H&M" width="7%"> 
      </a><hr>
    
    <!--URL 입력창-->
    <form action="/home/hnm_write" method ="POST">
      <div class="form-group">
        <label for="inputURL"> 할인 알림을 원하는 상품의 URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요"
               value = "http://www.hm.com/kr/product/45889?article=45889-B">
      </div> 
      <button type="submit" class="btn btn-default">검색하기</button>
    </form>
    
    
</body>
