
<%= render :partial => "/home/navbar" %>

<div class="container well" style="margin-top:100px">
    
    <!--브랜드 로고 삽입하기-->
      <a href = "http://www.mixxo.com/" target="_blank"> 
        <center><img src="/mixxo.png" alt="MIXXO" height="110px"></center>
      </a><hr>
    
    <!--URL 입력창-->
    <form action="/home/all_write" method ="POST">
      <div class="form-group">
        <label for="inputURL"> 할인 알림을 원하는 상품의 URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요"
               value = "http://www.mixxo.com/Style/StyleDetail.aspx?StyleCode=MIYW62301G&CategoryIdx=3217&ColCode=">
        <input type="hidden" name ="brand_name" class="form-control" value="mixxo">
      </div> 
      <button type="submit" class="btn btn-default">검색하기</button>
    </form>
</div>