
<%= render :partial => "/home/navbar" %>

<div class="container well" style="margin-top:100px">
    
    <!--브랜드 로고 삽입하기-->
      <a href = "http://www.oliveyoungshop.com/"> 
        <center><img src="/oliveyoung.png" alt="OLIEVYOUNG" height="110px"></center> 
      </a><hr>
    
    <!--URL 입력창-->
    <form action="/home/all_write" method ="POST">
      <div class="form-group">
        <label for="inputURL"> 할인 알림을 원하는 상품의 URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요"
               value = "http://www.oliveyoungshop.com/prd/detail_cate.jsp?item_cd=39111540">
        <input type="hidden" name ="brand_name" class="form-control" value="oliveyoung">
      </div> 
      <button type="submit" class="btn btn-default">검색하기</button>
    </form>
</div>