<div style="margin-top=5%">
    <h1> Polo가격 읽어오기 </h1>
    <a href = "http://www.ralphlauren.co.kr/" target="_blank">랄프 로렌</a>
    
    <form action="/home/all_write" method ="POST">
      <div class="form-group">
        <label for="inputURL">URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" 
              placeholder="주소를 입력하세요" value ="http://www.ralphlauren.co.kr/women/polo/shirts-and-blouses-55/cotton-shirt-1223669/1224562#1463478215614">
        <input type="hidden" name ="brand_name" class="form-control" value="polo">
      </div> 
      <button type="submit" class="btn btn-default">제출</button>
    </form>
  </div>