<div class="container">
    <h1> H&M가격 읽어오기 </h1>
    
    <form action="/home/write" method ="POST">
      <div class="form-group">
        <label for="inputURL">URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요">
      </div> 
      <button type="submit" class="btn btn-default">제출</button>
    </form>
    
    
    <h2><%=@URL%></h2>
    <h3>가격 : <%=@result_1%></h3>
    <br>
    <h3>제품명 : <%=@result_2%></h3>
    <br>
    <a href = "/home/index">홈으로가기</a>
    <br>
    <a href="/home/brownbreath">브라운브레스로 가기</a>
</div>