<!-- 이지혜가 만들 zara 페이지입니다!
<body style = container>
    <h1> ZARA 가격 읽어오기 </h1>
    
    <form action="/home/write" method ="POST">
      <div class="form-group">
        <label for="inputURL">URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요">
      </div> 
      <button type="submit" class="btn btn-default">제출</button>
    </form>
    
    
    <!-- price_product-price -->
    <h2><%=@URL%></h2>
    <h3>가격 : <%= @price %></h3>
    <br>
    <h3>제품명 : <%= @name %></h3>
    <br>
    <a href = "/home/index">홈으로가기</a>
    <br>
    <a href="/home/brownbreath">BrownBreath로 가기</a>
    <a href="/home/hnm">H&M으로 가기</a>

    
</body>
-->